extends layout

block content
  h1= title
  p Welcome to #{title}

  a.btn.btn-block.btn-success(href='/users/newSong?id=#{playlist_query}')
    h4 Add song to Playlist
  br
  a.btn.btn-block.btn-success(href='/playlists')
    h4 Playlists
  br
  a.btn.btn-block.btn-success(href='/logout')
    h4 Logout
  br

  for song in songs
    a.btn.btn-block.btn-success(href='/users/songCreated?id=#{song.song_id}&url=#{song.song_url}') 
      h4 #{song.song_name}
    br