extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/users/newSong?id=#{playlist_query}') Add song to Playlist
  br
  a(href='/') Playlists
  br
  a(href='/login') Login
  br
  h3 #{playlist_query}

  for song in songs
    h3 #{song.song_name}
    br
    a(href='/users/songCreated?id=#{song.song_id}') #{song.song_url}