extends layout

block content
  h1= title
  p Welcome to #{title}

   h1 My Playlists
   br
   a(href='/logout') Logout
   br
   a(href='/users/createPlaylist?username=#{username}') Create a new Playlists
   br
   h3 #{username}

   for playlist in playlists
    a(href='/users/playlistCreated?id=#{playlist.playlist_id}') #{playlist.playlist_name}
    br